# Ignore .idea files
*.iml
.idea/

# Ignore Maven target
target/

# Java
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.class
*.jar
*.war
*.ear

# Mac
.DS_Store
